<% if @commlist_items.any? %>
  <ol>
    <%= render partial: 'shared/commlist_item', collection: @commlist_items %>
  </ol>
  <span class="pagination"><%= will_paginate @commlist_items, container: false %></span>
<% end %>