<% if @skilllist_items.any? %>
  <ul class="users">
    <%= render partial: 'shared/skilllist_item', collection: @skilllist_items %>
  </ul>
  <span class="pagination"><%= will_paginate @skilllist_items, container: false %></span>
<% end %>