<% if @wantlist_items.any? %>
  <ul class="users">
      <%= render partial: 'shared/wantlist_item', collection: @wantlist_items %>
  </ul>
  <span class="pagination"><%= will_paginate @wantlist_items, container: false %></span>
<% end %>