<% provide(:title, "Edit #{@event.name[0].upcase}#{@event.name[1..-1]}") %>
<h1>Edit <%= "#{@event.name[0].upcase}#{@event.name[1..-1]}" %></h1>

<%= render 'form' %>

<span class="bottom-nav">
  <%= link_to 'Cancel', @event %> |
  <%= link_to 'View All Events', events_path %>
</span>
