<% provide(:title, @title) %>
<div class="row">

  <br>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @attendees.any? %>
      <ul class="users">
        <%= render @attendees %>
      </ul>
      <%= will_paginate @attendees, container: false %>
    <% end %>
  </div>
</div>