<h1>Confab8 Demo App</h1>

<p>This is the home page. It could either be primarily dedicated to getting users to sign in/up or it could allow for browsing of various conferences currently on Confab.</p>