#container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  display: block;
  clear: both;
  width: 90%;
  margin: 0.5em auto 0.5em auto;
}

.page-nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: inline-block;
  float: right;
}

h1 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

h2 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

h3 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

h4 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

h5 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

h6 a:hover {
  background-color: #ffffff;
  text-decoration: none;
}
.header {
  padding: 10px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.indent-2em {
  padding-left: 2em;
}

table ul li {
  list-style: none;
}

th, td {
  padding: 1.5em;
}

.box {
  margin: 0.5em;
  display: block;
}

.microposts {
  margin: 0.5em;
  display: block;
  list-style-type: none;
}

#search {
  display: inline-block;
  float: left;
}

.indexes {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #D0D0D0;
    &:last-child {
      border-bottom: 1px solid #D0D0D0;
    }
  }
}

.sidebar {
  padding: 1em 0 2em 0;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}