#container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.box {
  margin: 0.5em;
  display: block;
}

.microposts {
  margin: 0.5em;
  display: block;
  list-style-type: none;
}

.header {
  padding: 10px;
}

.nav {
  display: inline-block;
  float: left;
}

#search {
  display: inline-block;
  float: right;
}

.content {
  display: block;
  clear: both;
}